@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oxygen:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height:100vh;
  background-color: #F9F5F3;
  background-image: url('../assets/wall.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 2em;
  font-family: 'Open Sans', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu  {
  background-color: #F9F5F3;
  background: linear-gradient(180deg, rgba(255,202,175,1) 0%, rgba(249,245,243,1) 54%);
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2em;
}

.menu ul {
opacity: 1;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 0.5em;
}

a {
  color: #635362;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  color: #08264E;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.resume h3 {
  text-align: center;
}

.group-experiences {
  display: grid;
  gap: .5em;
  column-gap: 3em;
  justify-content: center;
  align-content: center;
}

section h3 {
  text-align: left;
  color: #003049;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1em 0 1em 0;
}

article p {
  line-height: 1.2em;
  color: #33415c;
  margin-bottom: 0.3em;
}

article h4 {
  text-align: left;
  color: #d62828;
  margin-bottom: .4em;
}

h4 i {
  font-style: italic;
  color: #33415c;
  font-weight: 400;
}

article b {
  color: #5c677d;
  font-weight: 400;
  font-size: .9em;
  margin-bottom: .3em;
}

article li {
  color: #33415c;
  margin: .5em 0 .5em 0;
}

.experience {
  margin-bottom: 1.5em;
}

.experience img {
  height: 50px;
  width: auto; 
  margin-left: .5em;
}

.experience figure {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

footer {
  position: fixed;
  bottom: .2em;
  right: 1em;
}

footer small {
  font-size: 10px;
  color: #CF916B;
}

@media(min-width: 768px) {
  body {
    padding: 0 5em;
  }
  .menu {
    padding: 0 5em;
  }
  
  .group-experiences{
    grid-template-columns: 30% 30% 30%;
  }
  .resume article {
    max-width: 60vw;
  }
}